<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="" method="post">
      <div>
        <label for="otp">Code:</label>
        <input type="text" id="otp" name="otp">
        <input type="hidden" name='phone'>
      <div>
  
      <input type="submit" value="verify">
    </form>
  </body>
</html>
